<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-center mb-4">Acerca de la Aplicación</h2>
              <div class="row">
                
                <div class="col-12">
                    <div style="justify-content: center; display:flex;">
                        <img src="assets/images/logo-app.png" alt="Logo de la Aplicación" class="img-fluid mb-4">
                    </div>
                    
                    <p class="text-center text-muted">Versión 0.8</p>
                    <p>
                        Bienvenido a la aplicación Autoescuela Méndez, una plataforma diseñada para que los usuarios practiquen y mejoren sus conocimientos teóricos necesarios para obtener el permiso de conducir. Con una amplia gama de preguntas actualizadas y simulaciones de exámenes reales, ayudamos a los aspirantes a conductores a prepararse de manera efectiva y confiada..
                    </p>
                    <p>
                        Nos destacamos por ofrecer estadísticas detalladas que permiten a los usuarios realizar un seguimiento de su progreso a lo largo del tiempo. Desde la cantidad de aciertos y fallos hasta análisis más profundos por períodos específicos, nuestra aplicación proporciona insights valiosos que guían el aprendizaje y la preparación para los exámenes de manera eficiente.
                    </p>
                    <p>
                        Diseñada con tecnologías modernas como Angular, nuestra plataforma garantiza una experiencia fluida y eficiente. Cada usuario tiene acceso a su historial de tests realizados, permitiendo revisar los resultados y detectar áreas de mejora. Estamos comprometidos a mejorar continuamente nuestra aplicación con nuevas funcionalidades y mejoras basadas en el feedback de nuestros usuarios.
                    </p>
                    <p>
                        ¡Gracias por ser parte de nuestra comunidad y por usar Autoescuela Méndez!
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row mt-5">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Acerca del desarrollador</h2>
            <div class="row">
              <div class="col-md-6">
                <!--<img src="assets/profile-picture.jpg" alt="David Mendez García" class="img-fluid rounded-circle mb-4">-->
                <h4 class="text-center">David Mendez García</h4>
                <p class="text-center text-muted">Ingeniero informático</p>
                <p class="text-center text-muted">Master en desarrollo de de aplicaciones y servicios web</p>
                <p class="text-center text-muted">Graduado en la Universidad de Alicante</p>
                
              </div>
              <div class="col-md-6">
                <p>
                  Soy un desarrollador de software apasionado por la creación de soluciones tecnológicas innovadoras.
                  Graduado en la Universidad de Alicante, mi enfoque principal ha sido el desarrollo web y móvil utilizando
                  tecnologías modernas como Angular y React.
                </p>
                <p>
                  Mi experiencia incluye trabajar en equipos ágiles para entregar aplicaciones robustas y escalables que
                  mejoran la experiencia del usuario. Estoy comprometido con el aprendizaje continuo y la mejora constante
                  de mis habilidades técnicas.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
  