@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .campoTexto {
      @apply p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
    }
    .labelTexto{
      @apply block text-sm font-medium leading-6 text-gray-900
    }
  }

html, body { height: 100%; }
body { margin: 0; font-family: Nunito, "Helvetica Neue", sans-serif !important; }

.tp-blue {
  text-transform: capitalize !important;
  background: #5a7ce2;
  background: -moz-linear-gradient(-45deg, #5a7ce2 0, #8283e8 50%, #6624c8 51%, #565bd8 71%, #575cdb 100%);
  background: -webkit-linear-gradient(-45deg, #5a7ce2 0, #8283e8 50%, #6624c8 51%, #565bd8 71%, #575cdb 100%);
  background: linear-gradient(135deg, #5a7ce2 0, #8283e8 50%, #6624c8 51%, #565bd8 71%, #575cdb 100%);
  background-size: 400% 400%;
  animation: AnimationName 4s ease infinite;
  animation-delay: 2s;
  border: medium;
}

.tp-btn {
  width: 200px;
  height: 50px;
  text-transform: capitalize !important;
  border-radius: 5px !important;
  margin: 10px auto;
  font-size: 18px;
  color: #fff !important;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 6.5px 30px !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .14);
  text-transform: uppercase;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, .2);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tp-btn:hover {
  background: black !important;
}

@keyframes AnimationName {
  0% {
      background-position: 0 31%;
  }
  50% {
      background-position: 100% 70%;
  }
  100% {
      background-position: 0 31%;
  }
}