<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-4 presentacionContainer">
            <div class="row mb-5">
                <img src="assets/images/logo-app.png" alt="Logo de la Aplicación" class="img-fluid">
            </div>
            <p class="text-base">Empieza a hacer test</p>
            <button routerLink="/dashboard/testPage" class="tp-blue tp-btn mt-3">Nuevo test</button>
        </div>
        <div class="col-12 col-md-8 imagen-container text-center">
            <img src="../../../assets/images/imagenPrincipal.png" alt="Imagen de la autoescuela" class="imagen img-fluid">
        </div>
    </div>
</div>



